html,
body {
    height: 100%;
    max-height: 100%;
}

body {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  font-size: 20px;
  padding: 0;
  position: relative; }

.banner{
  width: 100%;
}

.profile{
  margin-left: calc(50% - 100px);
  margin-top: 120px;
  margin-bottom: 50px;
}

.profile img{
  border-radius: 50%;
}

.nav-center {
  text-align: center;
}
.nav-center ul.nav {
  display: inline-block;
}
.nav-center ul.nav li {
  display: inline a;
  display-float: left;
}

.tab-content{
  padding-top: 50px;
  background: #00BCD5;
  color: #FFF;
}

.tab-content a{
  color: #006776;
}

#projects article{
  display: inline-block;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%,0);
  position: relative;
  text-align: center;
  left: 50%;
  min-height: 500px;
}

#projects article div{
  display: inline-block;
  vertical-align: top;
}

#video {
  
}

#publications article{
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%,0);
  left: 50%;
  width: 80%;
  max-width: 760px;
  position: relative;
}

#about_me{
  margin-bottom: 30px;
  position: relative;
}

#about_me p{
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%,0);
  position: relative;
  left: 50%;
  text-align: justify;
  width: 80%;
  max-width: 760px;
}

h1{
  text-align: center;
}
