html,
body {
    height: 100%;
    max-height: 100%;
}

body {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  font-size: 20px;
  padding: 0;
  position: relative; }

.banner{
  width: 100%;
}

.profile{
  margin-left: calc(50% - 100px);
  margin-top: 150px;
  margin-bottom: 150px;
}

.profile img{
  border-radius: 50%;
}

.nav-center {
  text-align: center;
}
.nav-center ul.nav {
  display: inline-block;
}
.nav-center ul.nav li {
  display: inline a;
  display-float: left;
}